{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<div class="container mt-1">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card text-center shadow h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Jumla ya michango ya miaka yote</h5>
                    <p class="card-text">{{ total_michango|floatformat:0 }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card text-center shadow h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Jumla ya michango ya mwaka {{ selected_year }}</h5>
                    <p class="card-text">{{ total_year_michango|floatformat:0 }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                {% for year in years %}
                    <a href="?year={{ year }}" class="list-group-item list-group-item-action {% if year == selected_year %}active{% endif %}">
                        {{ year }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-9">
            <h2 class="text-center">Michango ya Kila Mwezi - {{ selected_year }}</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Member</th>
                            {% for month in months %}
                                <th>{{ month }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members_michango %}
                            <tr>
                                <td>{{ member.username }}</td>
                                {% for month in months %}
                                    {% with amount=member.michango_by_month.month %}
                                        <td>{{ amount|floatformat:0 }}</td>
                                    {% endwith %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        <tr>
                            <td style="font-weight: bold;">TOTAL</td>
                            {% for month in months %}
                                {% with amount=total_michango_by_month.month %}
                                    <td>{{ amount|floatformat:0 }}</td>
                                {% endwith %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
