{% extends 'admin_base.html' %}
{% block content %}
<div class="container">
    <h2 class="text-center">Verification Required</h2>
    <form method="post" class="mx-auto" style="max-width: 400px;">
        {% csrf_token %}
        <div class="form-group">
            <label for="password">Enter your password to verify changes:</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn" style="background-color: #D6A2AD;">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
