{% extends 'admin_base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Rejected Actions</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Action no</th>
                <th>Date</th>
                <th>Admin</th>
                <th>Member Account</th>
                <th>Category</th>
                <th>Action</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for change in rejected_actions %}
            {% if change.pending_change %}
            <tr>
                <td>{{ change.pending_change.action_no }}</td>
                <td>{{ change.rejected_at }}</td>
                <td>{{ change.pending_change.admin.username }}</td>
                <td>{{ change.pending_change.data.user }}</td>
                <td>{{ change.pending_change.table_name }}</td>
                <td>{{ change.pending_change.action }}</td>
                <td>{{ change.pending_change.data.amount }}</td>
                <td>Rejected</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
