{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<div class="container mt-1">
    <div class="row mb-4">
        <!-- Card for Total Swadaqa for all years -->
        <div class="col-md-6">
            <div class="card text-center shadow h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Jumla ya Swadaqa kwa Miaka Yote</h5>
                    <p class="card-text">{{ total_swadaqa|floatformat:0 }}</p>
                </div>
            </div>
        </div>

        <!-- Card for Total Swadaqa for the selected year -->
        <div class="col-md-6">
            <div class="card text-center shadow h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Jumla ya Swadaqa kwa Mwaka {{ selected_year }}</h5>
                    <p class="card-text">{{ total_swadaqa_year|floatformat:0 }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- List of years for navigation -->
        <div class="col-md-3">
            <div class="list-group">
                {% for year in years %}
                    <a href="?year={{ year }}" class="list-group-item list-group-item-action {% if year == selected_year %}active{% endif %}">
                        {{ year }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <!-- Display Swadaqa for the selected year -->
        <div class="col-md-9">
            <h2 class="text-center">Swadaqa wa Kila Mwaka - {{ selected_year }}</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Member</th>
                            <th>Kiasi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members_swadaqa %}
                            <tr>
                                <td>{{ member.username }}</td>
                                <td>{{ member.amount|floatformat:0 }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td style="font-weight: bold;">TOTAL</td>
                            <td>{{ total_swadaqa_year|floatformat:0 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
