{% extends 'admin_base.html' %}
{% block content %}
<div class="container mt-3">
    <h2 class="text-center">Payment Images for {{ managed_user.username }}</h2>
    <div class="row mt-5">
        {% for image in payment_images %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="#" data-toggle="modal" data-target="#imageModal" data-img-url="{{ image.image.url }}">
                    <img src="{{ image.image.url }}" class="card-img-top" alt="Payment Screenshot">
                </a>
                <div class="card-body">
                    <p class="card-text">Uploaded at: {{ image.uploaded_at|date:"d M Y H:i" }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if show_back_button %}
    <button class="btn btn-secondary mt-3" onclick="history.back()">Back</button>
    {% endif %}
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Payment Screenshot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="modalImage" src="" class="img-fluid" alt="Payment Screenshot">
      </div>
    </div>
  </div>
</div>

<script>
    // JavaScript to handle image click and show in modal
    $('#imageModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var imageUrl = button.data('img-url'); // Extract info from data-* attributes
        var modal = $(this);
        modal.find('#modalImage').attr('src', imageUrl);
    });
</script>
{% endblock %}
