{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Mtaji wa Kila Mwaka - <span id="header-year">{{ current_year }}</span></h1>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="list-group" id="year-list">
                {% for year in years %}
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action year-link" data-year="{{ year }}">{{ year }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="table-responsive" style="max-width: 300px; margin: auto;">
                <table class="table mtaji-table">
                    <thead>
                        <tr>
                            <th style="width: 50%;">Mwaka</th>
                            <th style="width: 50%;">Kiasi</th>
                        </tr>
                    </thead>
                    <tbody id="contributions-body">
                        <tr>
                            <td id="selected-year">{{ current_year }}</td>
                            <td id="amount">-</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">TOTAL</td>
                            <td id="total-amount">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const yearLinks = document.querySelectorAll('.year-link');
        const selectedYearElement = document.getElementById('selected-year');
        const headerYearElement = document.getElementById('header-year');
        const amountElement = document.getElementById('amount');
        const totalAmountElement = document.getElementById('total-amount');

        yearLinks.forEach(link => {
            link.addEventListener('click', function() {
                yearLinks.forEach(link => link.classList.remove('active'));
                this.classList.add('active');

                const selectedYear = this.getAttribute('data-year');
                selectedYearElement.innerText = selectedYear;
                headerYearElement.innerText = selectedYear;

                fetch(`/mtaji/data/${selectedYear}/`)
                    .then(response => response.json())
                    .then(data => {
                        amountElement.innerText = data.amount ? data.amount.toLocaleString() : '-';
                        totalAmountElement.innerText = data.total ? data.total.toLocaleString() : '0';
                    });
            });
        });

        document.querySelector(`.year-link[data-year="{{ current_year }}"]`).classList.add('active');
        document.querySelector(`.year-link[data-year="{{ current_year }}"]`).click();
    });
</script>
{% endblock %}
