{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container mt-5">
    <!-- Card for Total Mtaji -->
    <div class="row mb-4 justify-content-center">
        <div class="col-md-3">
            <div class="card text-center shadow h-100">
                <div class="card-body">
                    <h5 class="card-title">Total Mtaji: {{ total_mtaji|floatformat:0|intcomma }} Tsh</h5>
                </div>
            </div>
        </div>
    </div>

    <!-- Horizontal Navbar for Years -->
    <div class="row justify-content-center mb-4">
        <div class="col-auto">
            <nav class="navbar navbar-expand-lg navbar-light" style="max-width: 700px; background-color: #D6A2AD;">
                <ul class="navbar-nav mx-auto">
                    {% for year in years %}
                    <li class="nav-item" style="margin-right: 15px;">
                        <a href="javascript:void(0);" class="nav-link year-link" data-year="{{ year }}">{{ year }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>

    <h1 class="text-center">Mtaji wa Kila Mwaka - <span id="header-year">{{ current_year }}</span></h1>

    <!-- Contribution Table -->
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="table-responsive" style="max-width: 300px; margin: auto;">
                <table class="table mtaji-table">
                    <thead>
                        <tr>
                            <th style="width: 50%;">Mwaka</th>
                            <th style="width: 50%;">Kiasi</th>
                        </tr>
                    </thead>
                    <tbody id="contributions-body">
                        <tr>
                            <td id="selected-year">{{ current_year }}</td>
                            <td id="amount">-</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">TOTAL</td>
                            <td id="total-amount">0 Tsh</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const yearLinks = document.querySelectorAll('.year-link');
        const selectedYearElement = document.getElementById('selected-year');
        const headerYearElement = document.getElementById('header-year');
        const amountElement = document.getElementById('amount');
        const totalAmountElement = document.getElementById('total-amount');

        yearLinks.forEach(link => {
            link.addEventListener('click', function() {
                yearLinks.forEach(link => link.classList.remove('active'));
                this.classList.add('active');

                const selectedYear = this.getAttribute('data-year');
                selectedYearElement.innerText = selectedYear;
                headerYearElement.innerText = selectedYear;

                fetch(`/mtaji/data/${selectedYear}/`)
                    .then(response => response.json())
                    .then(data => {
                        const formattedAmount = data.amount ? `${parseFloat(data.amount).toLocaleString()} Tsh` : '-';
                        const formattedTotalAmount = data.total ? `${parseFloat(data.total).toLocaleString()} Tsh` : '0 Tsh';
                        
                        amountElement.innerText = formattedAmount;
                        totalAmountElement.innerText = formattedTotalAmount;
                    });
            });
        });

        document.querySelector(`.year-link[data-year="{{ current_year }}"]`).classList.add('active');
        document.querySelector(`.year-link[data-year="{{ current_year }}"]`).click();
    });
</script>
{% endblock %}
