{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Edit Info</h1>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.nida|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.birth_date|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.next_of_kin_first_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.next_of_kin_last_name|as_crispy_field }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.next_of_kin_phone_number|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.email|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.phone_number|as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-block mt-3 text-dark" style="background-color: #D6A2AD">Update Info</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
