{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section class="register-section">
    <div class="register-section-container">
        <h1 class="text-center mt-3" style="color: rgb(122, 4, 107);">Reset Your Password</h1>
        <div class="row">
            <div class="col-12 col-md-3"></div>
            <div class="col-12 col-md-6">
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 text-center">Enter your email to reset your password</legend>
                        <div class="form-group">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <input style="background-color: #D6A2AD" class="btn btn-block text-dark" type="submit" value="Reset Password">
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-3"></div>
        </div>
    </div>
</section>
{% endblock %}
