    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card text-center border-0 shadow flex-fill d-flex flex-column">
                    <div class="card-body flex-grow-1 d-flex flex-column">
                        <h5 class="card-title">Upload Payment Screenshot</h5>
                        <form method="post" enctype="multipart/form-data" action="">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn" style="background-color: #D6A2AD;">Upload Image</button>
                        </form>
                    </div>
                </div>
                
                <!-- Adding space and right alignment for the Picha za Malipo button -->
                <div class="row mt-4">
                    <div class="col text-right">
                        <a href="{% url 'login_App:payment_images' %}" class="btn" style="background-color: #D6A2AD;">Picha za Malipo</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
