{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %} 
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4" style="color:rgb(122, 4, 107); font-weight: 500;">Assalam Alaikum, {{ user.first_name }}_{{ user.last_name }}</h1>
            <p class="lead"></p>
        </div>
    </div>
    <div class="row mt-5 d-flex align-items-stretch">
        <div class="col-md-3 mb-4 d-flex">
            <div class="card text-center border-0 shadow flex-fill d-flex flex-column">
                <div class="card-body flex-grow-1 d-flex flex-column">
                    <h5 class="card-title">Mtaji</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'mtaji_App:mtaji' %}" class="btn mt-auto" style="background-color: #D6A2AD;">Angalia Mtaji</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4 d-flex">
            <div class="card text-center border-0 shadow flex-fill d-flex flex-column">
                <div class="card-body flex-grow-1 d-flex flex-column">
                    <h5 class="card-title">Michango ya Kila Mwezi</h5>
                    <p class="card-text"></p>
                    <br>
                    <a href="{% url 'michango_App:mchango' %}" class="btn mt-auto" style="background-color: #D6A2AD;">Angalia Michango</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4 d-flex">
            <div class="card text-center border-0 shadow flex-fill d-flex flex-column">
                <div class="card-body flex-grow-1 d-flex flex-column">
                    <h5 class="card-title">Swadaqa</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'swadaqa_App:swadaqa' %}" class="btn mt-auto" style="background-color: #D6A2AD;">Angalia Swadaqa</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4 d-flex">
            <div class="card text-center border-0 shadow flex-fill d-flex flex-column">
                <div class="card-body flex-grow-1 d-flex flex-column">
                    <h5 class="card-title">Mkopo</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'mkopo_App:loan_request' %}" class="btn mt-auto" style="background-color: #D6A2AD;">Angalia Mkopo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-8">
            <div class="card text-center border-0 shadow flex-fill d-flex flex-column" style="margin-bottom: 0;">
                <div class="card-body flex-grow-1 d-flex flex-column">
                    <h5 class="card-title">Upload Payment Screenshot</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'login_App:upload_payment_image' %}" class="btn" style="background-color: #D6A2AD;">Upload Payment Image</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
