<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ladies Amana</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/styles.css' %}" />
    <script src="{% static 'bootstrap/js/styles.js' %}" defer></script>
     <!-- Bootstrap CSS -->
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    
     <!-- Optional: Include Popper.js and Bootstrap JS -->
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    {% include 'navbar.html' %}

    {% if messages %}
        {% for message in messages %}
        <p class="text-success text-center">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <main class="flex-grow-1 mb-1">
        <div class="body-content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    {% include 'footer.html' %}

    <!-- Add the jQuery, Popper.js, and Bootstrap JS here, just before the closing body tag -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
