<footer class="footer-section text-center py-1" style="background-color: #D6A2AD;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center" style="margin-bottom: 10px;">
                <p class="mb-1 text-dark">&copy; 2024 Ladies Amana. All rights reserved.</p>
                <ul class="list-unstyled d-inline-flex mb-0">
                    <li class="d-inline-block" style="margin-right: 0.75rem;"><a href="#" class="text-dark">Privacy Policy</a></li>
                    <li class="d-inline-block"><a href="#" class="text-dark">Terms of Service</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
