{% load static %}
<!-- Large Screen Navigation Bar -->
<nav>
    <div class="logo">
        Ladies Amana
    </div>
    <div class="links">
        {% if is_login_page %}
            <!-- Show these links when on the login page -->
            <a href="{% url 'login_App:login' %}">Login</a>
            <a href="{% url 'admin_App:admin_login' %}">Admin</a>
        {% elif user.is_authenticated %}
            {% if user.is_staff %}
                <!-- Add staff-specific links here if needed -->
            {% else %}
                <a href="{% url 'login_App:user_dashboard' %}">Dashboard</a>
                <a href="{% url 'mtaji_App:mtaji' %}">Mtaji</a>
                <a href="{% url 'michango_App:mchango' %}">Michango</a>
                <a href="{% url 'swadaqa_App:swadaqa' %}">Swadaqa</a>
                <a href="{% url 'mkopo_App:loan_request' %}">Mkopo</a>
                <a href="{% url 'login_App:edit_info' %}">Edit Info</a>
            {% endif %}
            <a href="{% url 'admin_App:notifications' %}" class="notification-bell">
                <i class="fa fa-bell"></i>
                {% if unread_notifications_count > 0 %}
                    <span class="badge">{{ unread_notifications_count }}</span>
                {% endif %}
            </a>
            
            <form method="post" action="{% url 'login_App:logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="nav-link btn btn-link" style="color:black; text-decoration:none;">Logout</button>
            </form>
        {% else %}
            <!-- Fallback for non-authenticated users on other pages -->
            <a href="{% url 'login_App:login' %}">Login</a>
            <a href="{% url 'admin_App:admin_login' %}">Admin</a>
        {% endif %}
    </div>
    <strong id="mobile-menu-btn">Menu</strong> <!-- Mobile Menu Button -->
</nav>

<!-- Small Screen Navigation Bar -->
<div class="mobile-menu">
    {% if is_login_page %}
        <!-- Show these links when on the login page -->
        <a href="{% url 'login_App:login' %}">Login</a>
        <a href="{% url 'admin_App:admin_login' %}">Admin</a>
    {% elif user.is_authenticated %}
        {% if user.is_staff %}
            <!-- Admin-specific sidebar content for mobile menu -->
            <a href="{% url 'admin_App:notifications' %}" class="notification-bell">
                <i class="fa fa-bell"></i>
                {% if unread_notifications_count > 0 %}
                    <span class="badge">{{ unread_notifications_count }}</span>
                {% endif %}
            </a>
            <a href="{% url 'admin_App:admin_dashboard' %}">
                <img src="{% static 'images/dashboard_icon.png' %}" alt="Dashboard" style="width: 20px; margin-right: 10px;">
                <span>Dashboard</span>
            </a>
            <a href="{% url 'admin_App:members' %}">
                <img src="{% static 'images/members_icon.png' %}" alt="Members" style="width: 20px; margin-right: 10px;">
                <span>Wanachama</span>
            </a>
            <a href="{% url 'admin_App:mitaji' %}">
                <img src="{% static 'images/mtaji_icon.png' %}" alt="Mtaji" style="width: 20px; margin-right: 10px;">
                <span>Mitaji</span>
            </a>
            <a href="{% url 'admin_App:michango' %}">
                <img src="{% static 'images/michango_icon.jpeg' %}" alt="Michango" style="width: 20px; margin-right: 10px;">
                <span>Michango</span>
            </a>
            <a href="{% url 'admin_App:swadaqas' %}">
                <img src="{% static 'images/swadaqa_icon.png' %}" alt="Swadaqa" style="width: 20px; margin-right: 10px;">
                <span>Swadaqa</span>
            </a>
            <a href="#mikopoSubmenuMobile" class="submenu-toggle" data-toggle="collapse">
                <img src="{% static 'images/mkopo_icon.png' %}" alt="Mkopo" style="width: 20px; margin-right: 10px;">
                <span>Mikopo</span>
                <i class="fas fa-chevron-down submenu-arrow"></i>
            </a>
            <div class="collapse" id="mikopoSubmenuMobile">
                <a href="{% url 'admin_App:members_loans' %}" class="submenu-item">Members Loan</a>
                <a href="{% url 'admin_App:loan_requests' %}" class="submenu-item">Loan Requests</a>
                <a href="{% url 'admin_App:approved_loans' %}" class="submenu-item">Approved Loans</a>
                <a href="{% url 'admin_App:rejected_loans' %}" class="submenu-item">Rejected Loans</a>
            </div>
            <a href="{% url 'admin_App:report_dashboard' %}">
                <img src="{% static 'images/report_icon.png' %}" alt="Reports" style="width: 20px; margin-right: 10px;">
                <span>Ripoti</span>
            </a>
            <a href="{% url 'admin_App:verified_actions' %}">
                <span>Verified Actions</span>
            </a>
            <a href="{% url 'admin_App:rejected_actions' %}">
                <span>Rejected Actions</span>
            </a>
            {% if user.username == 'admin1' %}
            <a href="{% url 'admin_App:verification' %}">
                <span>Verification</span>
            </a>
            {% endif %}
            <form method="post" action="{% url 'login_App:logout' %}" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="nav-link logout-button" style="color:black; text-decoration:none;">
                    <span>Logout</span>
                </button>
            </form>
        {% else %}
            <!-- Show links for regular users -->
            <a href="{% url 'login_App:user_dashboard' %}">
                <img src="{% static 'images/dashboard_icon.png' %}" alt="Dashboard" style="width: 20px; margin-right: 10px;">
                <span>Dashboard</span>
            </a>
            <a href="{% url 'mtaji_App:mtaji' %}">
                <img src="{% static 'images/mtaji_icon.png' %}" alt="Mtaji" style="width: 20px; margin-right: 10px;">
                <span>Mtaji</span>
            </a>
            <a href="{% url 'michango_App:mchango' %}">
                <img src="{% static 'images/michango_icon.jpeg' %}" alt="Michango" style="width: 20px; margin-right: 10px;">
                <span>Michango ya kila mwezi</span>
            </a>
            <a href="{% url 'swadaqa_App:swadaqa' %}">
                <img src="{% static 'images/swadaqa_icon.png' %}" alt="Swadaqa" style="width: 20px; margin-right: 10px;">
                <span>Swadaqa</span>
            </a>
            <a href="{% url 'mkopo_App:loan_request' %}">
                <img src="{% static 'images/mkopo_icon.png' %}" alt="Mkopo" style="width: 20px; margin-right: 10px;">
                <span>Mkopo</span>
            </a>
            <a href="{% url 'login_App:edit_info' %}">Edit Info</a>
            <form method="post" action="{% url 'login_App:logout' %}" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="nav-link logout-button" style="color:black; text-decoration:none;">
                    <span>Logout</span>
                </button>
            </form>
        {% endif %}
    {% endif %}
</div>

<!-- Overlay to prevent clicks on the background when menu is open -->
<div class="overlay"></div>

<script>
    var mobileMenuBtn = document.querySelector("#mobile-menu-btn");
    var mobileMenu = document.querySelector(".mobile-menu");
    var overlay = document.querySelector(".overlay");

    // Toggle the mobile menu and overlay when the button is clicked
    mobileMenuBtn.addEventListener("click", () => {
        if (mobileMenu.style.display === "none" || mobileMenu.style.display === "") {
            mobileMenu.style.display = "flex";
            overlay.style.display = "block";  // Show overlay
            mobileMenuBtn.style.display = "none";  // Hide the Menu button
            document.body.classList.add('menu-open');  // Prevent scrolling
        } else {
            mobileMenu.style.display = "none";
            overlay.style.display = "none";  // Hide overlay
            mobileMenuBtn.style.display = "block";  // Show the Menu button again
            document.body.classList.remove('menu-open');  // Allow scrolling
        }
    });

    // Hide the menu and overlay if user clicks outside the menu (on the overlay)
    overlay.addEventListener("click", () => {
        mobileMenu.style.display = "none";
        overlay.style.display = "none";
        mobileMenuBtn.style.display = "block";  // Show the Menu button again
        document.body.classList.remove('menu-open');  // Allow scrolling
    });
</script>
